@import '@variables';

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  background-color: #0F0;
}

.editor {
  align-self: start;
  width: 100%;
  height: 100%;
}

.delimiter {
  position: absolute;
  background-color: @blue1;
}

.viewer {
  align-self: end;
  width: 100%;
  height: 100%;
}