@import '@variables';

.projectTileContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px;
  border: 2px solid @blue1;
  border-radius: 3px;
  background-color: @blue5;
};

.secondaryInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: @blue6;
};

a {
  text-decoration: none;
  font-size: 24px;

  &:hover {
    text-decoration: underline;
  }
}
