@import '@variables';

@transitionLength: 0.2s;

.background {
  background: rgba(0,0,0,0.7);;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
};

.backgroundEnter {
  opacity: 0;
}

.backgroundEnterActive {
  opacity: 1;
  transition: all ease @transitionLength;
}

.backgroundExitActive {
  opacity: 0;
  transition: all ease @transitionLength;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  transform-origin: 0 0;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  background-color: @blue4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  z-index: 1000;
  border-radius: 6px;
};

.modalEnter {
  opacity: 0;
  scale: 0.8;
}

.modalEnterActive {
  opacity: 1;
  scale: 1;
  transition: all ease @transitionLength;
}

.modalExitActive {
  opacity: 0;
  scale: 0.8;
  transition: all ease @transitionLength;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 25px;
};

.closeButtonContainer {
  margin-left: auto;
};

.closeButton {
  width: 35px !important;
  height: 35px !important;
  transition: all ease 0.2s;
  background-color: @blue4;

  &:hover {
    background-color: @blue1;
  }
}

.bodyContainer {
  padding: 25px;
};

.footerContainer {
  padding: 25px;
};
