@import '@variables';

.projectsPageContainer {
  display: grid;
  grid-template-rows: [header] auto [body] calc(100vh - 100px);
  grid-template-columns: [start] 0.45fr [list] minmax(380px, 35%) [user-box] minmax(250px, 15%) 0.55fr [end];
  align-items: start;
  column-gap: 20px;
  row-gap: 10px;
}

.projectsPageHeader {
  display: grid;
  grid-row: header;
  grid-column: 1 / 5;

  grid-template-columns: inherit;
  column-gap: 20px;

  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid @blue2;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.createNewProjectButton {
  display: flex;
  background-color: @green1;
  width: 50%;
}

.refreshListButton {
  display: flex;
  width: 50%;
}

.searchQueryInputWrapper {
  display: grid;
  grid-column: list;
}

.searchQueryInput {
  width: calc(100% - 22px - 20px);
  margin: auto;
}

.projectsPageContainerBody {
  display: grid;
  grid-row: body;
  grid-column: 1 / 5;
  
  grid-template-columns: inherit;
  column-gap: 20px;

  overflow: auto;
}

.projectsPageListContainer {
  grid-row: body;
  grid-column: list;

  overflow: auto;
  padding: 10px;
  padding-top: 0px;
}

.projectsPageUserBox {
  grid-row: body;
  grid-column: user-box;
}
