@import '@variables';

.projectsPageContainer {
  display: grid;
  grid-template-rows: [header] auto [body] auto;
  grid-template-columns: [start] 20% [list] auto [user-box] 15% 20% [end];
  column-gap: 30px;
}

.projectsPageHeader {
  display: grid;
  grid-row: header;
  grid-column: start / end;
  align-content: center;

  padding: 10px;
  border-bottom: 1px solid @blue2;
}

.projectsPageBody {
  grid-row: body;
  grid-column: list;
}

.projectsPageUser {
  grid-row: body;
  grid-column: user-box;
}

.createNewProjectButton {
  min-width: 170px;
  background-color: @green1;
};
