@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '@variables';

body {
    background-color: @blue1;
    font-family: 'Roboto', 'sans-serif';
    color: @blue3;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}
