.projectsListContainer {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
};

.searchQueryInput {
  height: 40px !important;
  width: 50% !important;
  margin-bottom: 30px;
}

.tilesContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
